<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DictionaryPath" value="C:\RK\Dictionary.txt"/>
		<add key="InputType" value="1"/> <!--0-CommandLine  1-File-->
		<add key ="OutputType" value="0"/> <!--0-Console   1-File -->
		<add key="OutputFilePath" value="C:\RK\Output.txt"/>
	</appSettings>
</configuration>